.singleReviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  max-width: 80%;
  margin: 0 auto;
}

.ReviewBody {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  margin: 2rem auto;
  max-width: 70%;
}

.singleReviewContainer h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
  padding: 10px;
}

.singleReviewContainer p {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
  padding: 20px;
}

.singleReviewContainer img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  border: 2px solid;
  margin: 20px 0;
}

.singleReviewContainer .voteButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.singleReviewContainer .voteButtons {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
}

.singleReviewContainer button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.singleReviewContainer .voteButtons {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 10px;
}

.singleReviewContainer .voteButtons {
  color: #333;
  margin-left: 5px;
}

button {
  margin: 10px;
}

.loadingReviews {
  font-size: 32px;
  margin: 20px;
}

.isErrorMessage {
  font-size: 32px;
  margin: 20px;
}
